{% extends "base.html" %}

{% block title %}Изменить подкатегорию{% endblock %}

{% block main %}
    <form
        id="editOperationSubCategoryForm"
        action="{% url 'cfm:edit_subcategory' subcategory.id %}"
        method="post"
    >
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Изменить</button>
    </form>

    <form
        id="deleteOperationSubCategoryForm"
        action="{% url 'cfm:delete_subcategory' subcategory.id %}"
        method="post"
    >
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
{% endblock %}